.facebook {
    
}

.linkedin {
    
}

.twitter {
    
}

.section {
    clear: both;
    height: 100%;
}

.sidebar {
    float: left;
    width: 28%;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #fea890;
    height: 700px;
}

#twitter_iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}

#facebook_iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}

#linkedin_iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}

.expand-frame {
    display: block;
    width: 80%;
    transition: width 1000ms ease-in;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #fea890;
    height: 700px;
}

.hide-frame {
    display: none;
    width: 28%;
    opacity: 0.01;
}